@import url('https://fonts.googleapis.com/css2?family=Sonogram&display=swap');

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: lightgreen;
    font-family: 'Sonogram', sans-serif;
    text-align: center;
}

input[type="text"], input[type="submit"], .button, .button:visited, .button:hover, .button:active {
    border: 2px solid lightgreen;
    background-color: black;
    color: lightgreen;
    font-family: 'Sonogram', sans-serif;
    padding: 10px 20px;
    border-radius: 25px; /* Adjust as needed */
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

input[type="text"]:focus, input[type="submit"]:focus, .button:focus {
    border-color: lightgreen;
}

.header {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}

button[type="submit"], .button, .button:visited, .button:hover, .button:active {
    border: 2px solid lightgreen;
    background-color: black;
    color: lightgreen;
    font-family: 'Sonogram', sans-serif;
    padding: 10px 20px;
    border-radius: 25px; /* Adjust as needed */
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.button {
    margin-top: 50px;
}